<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>vue.js</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div v-for="item in todos">
            <label>
                <input type="checkbox" v-model="item.done">
                <span v-bind:class="{donestyle:item.done}">{{ item.text }}</span>
            </label>
        </div>
        <p>{{ remaining }}/{{ todos.length }}件処理</p>
        <p><input type="text" v-model.trim="addText" v-on:keyup.enter="addTodo" placeholder="すること"></p>
        <p><button v-on:click="cleanTodo">処理済のtodoを削除</button></p>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                todos: [
                    { done: false, text: 'テスト１' },
                    { done: false, text: 'テスト２' },
                ],
                addText: '',
            },
            methods: {
                addTodo: function () {
                    if (this.addText) {
                        this.todos.push({ done: false, text: this.addText });
                        this.addText = '';
                    }
                },
                cleanTodo: function () {
                    this.todos = this.todos.filter(function (val) {
                        return val.done == false;
                    });
                }
            },
            computed: {
                remaining: function () {
                    return this.todos.filter(function (val) {
                        return val.done;
                    }).length;
                }
            }
        });
    </script>
    <style>
        .donestyle {
            text-decoration: line-through;
            color: lightgray;
        }
    </style>
</body>

</html>