<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>vue.js</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <label><input type="radio" value="red" v-model="picked">赤</label><br>
        <label><input type="radio" value="blue" v-model="picked">青</label><br>
        <label><input type="radio" value="green" v-model="picked">緑</label><br>
        選択中の色：{{ picked }}
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                picked: 'red'
            }
        });
    </script>
</body>

</html>